@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/****************
*    GENERAL    *
****************/

:root {
    --green-primary: #10c856 ;
    --green-secondary: #0fb64e ;
    --pink-primary: #ff7eee;
    --pink-secondary: #df49a6;
    --transition-speed: 600ms;
    --transition-speed-slower: 1200ms;
    font-size: 16px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    scrollbar-color: var(--nav-bg-primary) var(--bg-secondary) ;
    scrollbar-width: thin;
}

body {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Heebo', 'Roboto', Arial, sans-serif;
    line-height: 20px;
    width: 100vw;
    transition: background var(--transition-speed) ease-in-out, color var(--transition-speed-slower) ease-in-out;
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}
body::-webkit-scrollbar-thumb {
    background: var(--nav-bg-primary);
}

#app {
    min-height: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/*******************
*    NAVIGATION    *
*******************/

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--nav-text-secondary);
    background: var(--nav-bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar {
    position: fixed;
    background-color: var(--nav-bg-primary);
    transition: width var(--transition-speed) ease-in-out;
    scrollbar-width: none;
    overflow: visible;
}
.navbar::-webkit-scrollbar {
    display: none;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}
.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--nav-text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover,
.nav-link.has-dropdown:focus-within {
    filter: grayscale(0%) opacity(1);
    color: var(--nav-text-secondary);
    background: var(--nav-bg-secondary);
}

.link-text {
    display: inline;
    margin-left: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-speed), visibility var(--transition-speed);
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/**************
*    ICONS    *
**************/

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.fa-primary {
    color: var(--btn-primary);
}
.fa-secondary {
    color: var(--btn-secondary);
}
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.retro .nav-link:hover svg {
    animation: color-rotate 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/***************
*    THEMES    *
***************/

.dark {
    --text-primary: #ccd9e5;
    --text-secondary: #adbac7;
    --bg-primary: #2d333b;
    --bg-secondary: #1c2128;
    --nav-text-primary: #ccd9e5;
    --nav-text-secondary: #adbac7;
    --nav-bg-primary: #2d333b;
    --nav-bg-secondary: #22272e;
    --btn-primary:var(--green-primary);
    --btn-secondary:var(--green-secondary);
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #141418;
    --bg-primary: #fff;
    --bg-secondary: #ececec;
    --nav-text-primary: #b6b6b6;
    --nav-text-secondary: #ececec;
    --nav-bg-primary: #23232e;
    --nav-bg-secondary: #141418;
    --btn-primary:var(--green-primary);
    --btn-secondary:var(--green-secondary);
}

.retro {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
    --nav-text-primary: #fdf6e3;
    --nav-text-secondary: #f5e5b8;
    --nav-bg-primary: #576e75;
    --nav-bg-secondary: #35535c;
    --btn-primary:var(--pink-primary);
    --btn-secondary:var(--pink-secondary);
}

/*********************
*    THEME PICKER    *
*********************/

.dropdown {
    position: absolute;
    opacity: 0;
    z-index: 2;
    background: blue;
    border: 2px solid var(--text-primary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0.5rem;
    box-shadow: rgba(2, 8, 20, 0.1) 0 0.175em 0.5em;
    transition: var(--transition-speed) ease-out;
}

.has-dropdown:focus-within .dropdown{
    opacity: 1;
    filter: grayscale(0%);
}

.dropdown-item {
    width: max-content;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    font-weight: bold;
    color: var(--text-primary);
}

.dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--text-primary);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.dropdown-item a#dark::before {
    background: #1c2128;
}

.dropdown-item a#light::before {
    background: #ececec;
}

.dropdown-item a#retro::before {
    background: linear-gradient(34deg, rgba(59,0,253,1) 0%, rgba(0,249,42,1) 12%, rgba(4,202,244,1) 38%, rgba(249,6,214,1) 64%, rgba(209,246,10,1) 80%);
}

/*************
*    MISC    *
*************/

.btn:hover {
    background-color: var(--btn-secondary);
}

/***********************
*    RESPONSIVENESS    *
***********************/

/* Small Screens */
@media only screen and (max-width: 640px) {
    html {
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    body {
        margin-bottom: 5rem;
    }

    .navbar {
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .logo {
        display: none;
    }

    .nav-link {
        justify-content: center;
    }

    .link-text {
        display: none;
    }

    .dropdown {
        margin-bottom: 13rem;
        transform: translateX(-40%);
    }
}

/* Large Screens */
@media only screen and (min-width: 640px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        opacity: 1;
        visibility: visible;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0;
    }

    .dropdown {
        margin-left: 15rem;
        transform: translateY(-40%);
    }
}
